:root {
        --ic-brand-primary-darkened-5: #174239;
--ic-brand-primary-darkened-10: #163F36;
--ic-brand-primary-darkened-15: #153B33;
--ic-brand-primary-lightened-5: #234E44;
--ic-brand-primary-lightened-10: #2F574E;
--ic-brand-primary-lightened-15: #3A6058;
--ic-brand-button--primary-bgd-darkened-5: #174239;
--ic-brand-button--primary-bgd-darkened-15: #153B33;
--ic-brand-button--secondary-bgd-darkened-5: #4A4A4A;
--ic-brand-button--secondary-bgd-darkened-15: #424242;
--ic-brand-font-color-dark-lightened-15: #606060;
--ic-brand-font-color-dark-lightened-30: #7C7C7C;
--ic-link-color-darkened-10: #007576;
--ic-link-color-lightened-10: #198D8F;
--ic-brand-primary: #18453b;
--ic-brand-font-color-dark: #444444;
--ic-link-color: #008183;
--ic-brand-button--primary-bgd: var(--ic-brand-primary);
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #4d4d4d;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #18453b;
--ic-brand-global-nav-ic-icon-svg-fill: #ffffff;
--ic-brand-global-nav-ic-icon-svg-fill--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #18453b;
--ic-brand-global-nav-avatar-border: #008183;
--ic-brand-global-nav-menu-item__badge-bgd: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #18453b;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #18453b;
--ic-brand-header-image: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/523108/msu_white.png');
--ic-brand-mobile-global-nav-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/523110/msu_color.png');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/523113/msu_color.png');
--ic-brand-apple-touch-icon: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/523112/msu_color-2.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/523109/msu_white.png');
--ic-brand-msapplication-tile-wide: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/523114/msu_wide.png');
--ic-brand-right-sidebar-logo: url('https://instructure-uploads-pdx.s3.us-west-2.amazonaws.com/account_150420000000000001/attachments/523115/wide_color.png');
--ic-brand-Login-body-bgd-color: #f2f2f2;
--ic-brand-Login-body-bgd-image: ;
--ic-brand-Login-body-bgd-shadow-color: #f2f2f2;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: #ffffff;
--ic-brand-Login-Content-border-color: #efefef;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #444444;
--ic-brand-Login-Content-password-text-color: #444444;
--ic-brand-Login-footer-link-color: #2773e2;
--ic-brand-Login-footer-link-color-hover: #ffffff;
--ic-brand-Login-instructure-logo: #aaaaaa;
      }